.header {
  height: 100vh;
  background-image: url(../../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.header__logo-text {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.header__logo-img {
  width: 120px;
  height: 140px;
  color: #fff;
}

.header__hero {
  display: flex;
  flex-direction: column;

  gap: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__hero-text {
  font-weight: 700;
  font-size: 54px;
  color: #fff;
}
.header__hero-btn {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

/* .overlay  - для мобилки нужно{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 98;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 98;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 60px 30px 30px;
  transition: right 0.2s ease;
  z-index: 99;
}

.mobile-nav.active {
  right: 0;
}

.mobile-nav a {
  display: block;
  color: #000;
  padding: 15px 0;
  font-size: 18px;
}

.mobile-nav a:hover {
  color: #8db124;
}

.close-btn:hover {
  color: #8db124;
}
