.footer {
  background-color: #434343;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
  padding-bottom: 30px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 350px;
}

.footer__item-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #fff;
  margin-bottom: 50px;
}

.footer__p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 433px;
  height: 140px;
}

.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__item-list a {
  color: #fff;
}

.footer__item-location {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
}

.footer__item-location::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../images/footer-location.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.footer__item-email {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
}

.footer__item-number {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
}

.footer__item-email::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../images/footer-email.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.footer__item-number::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../images/footer-contacts.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.footer__subscribe {
  display: flex;
  align-items: center;
  gap: 82px;
  padding-bottom: 40px;
}

.footer__subscribe-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #fff;
}

.footer__subscribe-logos {
  display: flex;
  gap: 70px;
}

@media screen and (max-width: 1200px) {
  .footer-wrapper {
    gap: 50px;
  }
}

@media screen and (max-width: 950px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 50px;
  }

  .footer__subscribe {
    text-align: center;
    justify-content: space-around;
  }

  .footer__p {
    height: auto;
  }

  .footer__item {
    min-height: auto;
    align-items: center;
  }

  .footer__item-title {
    margin-bottom: 0px;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__logo-img {
    width: 100px;
    height: 90px;
  }

  .footer__item-location {
    width: 433px;
    text-align: center;
    padding-left: 15px;
  }
}

@media screen and (max-width: 720px) {
  .footer__subscribe {
    gap: 30px;
  }
}
