.partners {
  margin-bottom: 120px;
}

.partners__title {
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 60px;
}

.partners-span {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #000;
}

.partners-span-other {
  color: #84a625;
}

.carousel {
  margin: 0 auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 25em;
  text-align: center;
  align-content: center;
}

.group {
  display: flex;
  align-items: center;
  justify-content: content;
  gap: 1em;
  animation: spin 6s infinite linear;
  padding-right: 1em;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

@media screen and (max-width: 1200px) {
  .partners__title {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .partners {
    margin-bottom: 60px;
  }
  .partners__title {
    font-size: 12px;
  }
  .partners-span {
    font-size: 12px;
  }
  .card {
    flex: 0 0 10em;
  }
}
