.traditions {
  margin-bottom: 120px;
}

.traditions__title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #3a3a3a;
  margin-bottom: 60px;
}

.traditions__span {
  color: #8db124;
}

.traditions__span-other {
  text-decoration: underline;
}

.traditions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-color: #39382f;
  padding: 30px;
  border-radius: 10px;
  gap: 35px;
}

.traditions__info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 45px;
}

.traditions__info-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 200%;
  color: #fff;
  width: 750px;
}

.traditions__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #fff;
  width: 750px;
}

.traditions__btn {
  width: 750px !important;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .traditions__title {
    text-align: center;
  }

  .traditions-wrapper {
    flex-direction: column;
    height: auto;

    margin: 0 auto;
  }

  .traditions__info {
    order: 2;
    gap: 30px;
  }
  .traditions__img {
    width: 350px;
    order: 1;
  }

  .traditions__info-title {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .traditions__btn {
    width: 300px !important;
    margin: 0 auto;
  }

  .traditions__p {
    text-align: center;
    padding: 0 55px;
  }
}

@media screen and (max-width: 720px) {
  .traditions__info-title {
    font-size: 18px;
    width: 500px !important;
  }

  .traditions__p {
    padding: 0 120px;
  }

  .traditions__info {
    align-items: center !important;
    width: 500px;
  }
}
