.volunteering {
  margin-bottom: 120px;
}

.volunteering__title {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: #3a3a3a;
  margin-bottom: 60px;
}

.volunteering__span {
  color: #8db124;
}

.volunteering__span-other {
  text-decoration: underline;
}

.volunteering-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-color: #39382f;
  padding: 30px;
  border-radius: 10px;
  gap: 35px;
}

.volunteering__info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 45px;
}

.volunteering__info-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 200%;
  color: #fff;
  width: 750px;
}

.volunteering__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #fff;
  width: 750px;
}

.volunteering__btn {
  width: 750px !important;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .volunteering__title {
    text-align: center;
  }
  .volunteering-wrapper {
    flex-direction: column;
    height: auto;

    margin: 0 auto;
  }

  .volunteering__info {
    order: 2;
    gap: 30px;
  }
  .volunteering__img {
    width: 350px;
    order: 1;
  }

  .volunteering__info-title {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .volunteering__btn {
    width: 300px !important;
    margin: 0 auto;
  }
  .volunteering__p {
    text-align: center;
    padding: 0 55px;
  }
}

@media screen and (max-width: 720px) {
  .volunteering__info-title {
    font-size: 18px;
    width: 500px !important;
  }

  .volunteering__p {
    padding: 0 120px;
  }

  .volunteering__info {
    align-items: center;
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .volunteering {
    margin-bottom: 60px;
  }
  .volunteering__title {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .volunteering__img {
    width: 150px;
  }

  .volunteering__p {
    padding: 0 170px;
    font-size: 10px;
  }

  .volunteering__info {
    gap: 10px;
  }

  .volunteering__btn {
    width: 200px !important;
    font-size: 12px;
    height: 40px !important;
    padding: 0px !important;
  }
}
